* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins";
}

.navigation {
    list-style: none;
}

.navigation li {
    float: left;
    margin-right: 42px;
}

a {
    text-decoration: none;
    font-size: 16pt;
    color: black;
}

.navigation a {
    color: white;
}

aside {
    width: 200px;
}
header {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

.menu {
    overflow: auto;
    float: left;
    position: absolute;
}

.btn {
    cursor: pointer;
    background-color: #00ACDF;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 91px;
    color: white;
    font-size: 16px;
}

.btn:hover {
    background-color: #03799c;
}

.btn-larger {
    width: 150px;
}

.btn-inverted {
    border-color: white;
    border-style: solid;
    border-width: 2px !important;
}

.clr {
    clear: both;
}

#contact {
    float: right;
}

#container {
    float: left;
    padding-top: 53px; 
    display: grid;
    grid-template-columns: auto auto auto;
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #001427, #001427), linear-gradient(to bottom, white, white);
    background-size: 100% 888px, 100%;
}

header img {
    display: block;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
}

#service-article{
    max-width: 1387px;
}

#main-content {
    text-align: center;
    max-width: 1520px;
}

#side-left a {
    display: block;
    margin-top: 20px;
}

#sozial-media {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

#sozial-media img {
    max-width: 24px;
    max-height: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#main-grpahics {
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#main-grpahics img {
    display: block;
    margin: auto;
}

#apps {
    margin-top: 100px;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#subtitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 23px;
    font-weight: normal;
    margin-top: 50px;
    max-width: 940px;
}

.large-title {
    color: white;
    font-size: 96px;
    font-weight: bolder;
    line-height: 1;
    margin-top: 200px;
}

.medium-title {
    margin-top: 200px;
    font-size: 80px;
    color: #001427;
}

.low-title {
    margin-top: 100px;
    font-size: 56px;
    line-height: 1;
    color: #001427;
}

.box{
    margin-top: 100px;
    text-align: left;
}

.box p {
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box img {
    display: block;
    margin: auto;
}

.box-right {
    float: right;
    width: 50%;
}

.box-left{
    float: left;
    width: 50%;
}

.service-margin {
    margin-top: 75px;
}

#testimonial {
    margin-top: 30px;
}

#testimonial p {
    max-width: 940px;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-box {
    width: 48.5%;
    background-color: #F2F2F7;
    border-radius: 10px;
    height: auto;
    margin-top: 50px;
    text-align: left;
    padding: 15px 15px 30px 15px;
}
.testimonial-box img {
    float: left;
    display: inline;
    height: 50px;
}

.testimonial-box span {
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bolder;
}

#testimonial-right {
    margin-left: 5px;
    float: right;
}

#testimonial-left {
    margin-right: 5px;
    float: left;
}

#subscription {
    color: white;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
    background-color: #00ACDF;
    text-align: left;
    border-radius: 10px;
}

#subscription a {
    color: white;
    font-size: 80px;
    margin-bottom: 50px;
}

#subscription p {
    font-size: 23px;
    margin-bottom: 50px;
    max-width: 940px;
}

#overview {
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    justify-content: left;
    text-align: left;
}

#overview ul, a {
    display: inline-block;
    text-align: left;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.overview-title {
    margin-bottom: 15px;
    font-size: 20px;
}

#overview ul img {
    margin-right: 10px;
}

footer {
    background-color: #001427;
    height: 50px;
    text-align: center;
    color: white;
    padding: auto;
    vertical-align: middle;
    line-height: 50px;
}